body {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(80, 58, 85);
  color: white;
}
.template {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.information {
  width: 70vh;
  padding-bottom: 2vh;
  margin-bottom: 2.5vh;
  border-radius: 1vh;
  background-color: rgb(130, 93, 118);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
}

.columnone, .columntwo {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.row {
  gap: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

textarea {
  resize:none;
  width: 59.5vh;
  border-radius: 0.8vh;
}

.box > input {
  width: 59vh;
}

input {
  border: none;
  border-radius: 0.8vh;
  width: 28vh;
  padding: 0.5vh;
}

.button {
  margin-bottom: 2vh;
}

button {
  border-radius: 0.7vh;
}

.add, .remove {
  float: center;
  width: 5vh;
}

#submit {
  width: 7vw;
  height: 5vh;
}

.header {
  font-size: 7.5vh;
}

.generalinfo > ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin-top: 1vh;
  margin-left: 3vw;
  margin-right: 3vw;
  font-size: 2.2vh;
}

.educationview > ul, .work > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

#boxes {
  padding-bottom: 2vh;
}

.cv {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.resume {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 45vw;
  min-height: 110vh;
  margin: auto;
  word-break: break-all;
}

.headertext {
  font-size: 3.5vh;

}

.underline {
  border-bottom: solid black 0.25vh;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  margin-bottom: 1.5vh;
}

.headername {
  font-size: 7vh;
}

.fullname {
  border-bottom: solid black 0.5vh;
  margin-left: 2vw;
  margin-right: 2vw;
  padding-top: 3.5vh;
}

.skills, .education, .workexperience, .summary {
  text-align: left;
  margin-left: 2vw;
  margin-right: 2vw;
  padding-bottom: 1.5vw;
}

.text {
  margin-left: 0.9vw;
  margin-right: 0.9vw;
}

.textbullets {
  margin-left: 0.9vw;
  margin-right: 0.9vw;
  white-space: pre-line;
}


.bold {
  font-weight: bold;
  font-size: 2.35vh;
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}